# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# node-waf configuration and audit file
.lock-wscript
package-lock.json
audit_report.json

# Optional npm cache directory
.npm

